.divComponenteVideo{
    width: 30%;
    height: 400px;
    margin-left: 3%;
    margin-top: 20px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    overflow: hidden;
    background: #F7F7F7;
    float: left;
}

.divCompoenteVideoIzquierda{
    width: 100%;
    height: 250px;
    float: left;
}

.divCompoenteVideoIzquierda video{
    width: 100%;
    height: 250px;
    background: black;
}

.divComponenteVideoDerecha{
    width: 100%;
    height: 150px;
    /* background: green; */
    float: left;
}

.divComponenteVideoDerecha p{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.divComponenteVideoDerecha input{
    width: 30%;
    height: 50px;
    background: #282c34;
    border-radius: 5px;
    color: white;
    border: none;
    margin-left: 15%;
    margin-top: 15px;
    cursor: pointer;
}

.divComponenteVideoDerecha input:hover{
    background: #575757;
}