.divComponeteComentarios{
    width: 100%;
    height: 950px;
    /* background: green; */
    float: left;
}

.divBotonAtraComponenteComentarios{
    width: 100%;
    height: 100px;
    /* background: orangered; */
    float: left;
}

.divBotonAtraComponenteComentarios input[type='button']{
    width: 25%;
    margin-left: 37%;
    height: 70px;
    margin-top: 15px;
    border-radius: 5px;
    background: #282c34;
    color: white;
    border: none;
    cursor: pointer;
}

.divBotonAtraComponenteComentarios input[type='button']:hover{
    background: #575757;
}

.divCajaIzquierda{
    width: 48%;
    margin-left: 1%;
    height: 700px;
    /* background: #F7F7F7; */
    float: left;
}

.divVideoComponeteComentarios{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    background: black;
    float: left;
}

.divVideoComponeteComentarios video{
    width: 100%;
    height: 500px;
}

.divTituloCOmponenteComentarios{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    background: white;
    float: left;
}

.divTituloCOmponenteComentarios h3{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.divTituloCOmponenteComentarios p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.divCajaDerecha{
    width: 48%;
    margin-left: 2%;
    height: 750px;
    background:white;
    /* box-shadow: 0px 0px 10px black; */
    float: left;
}

.divCajaComentarios{
    width: 98%;
    height: 550px;
    margin-top: 20px;
    /* background: #F7F7F7; */
    /* border: 1px solid gray; */
    overflow-y: scroll;
    margin-left: 1%;
}

.divCajaDerecha form{
    width: 98%;
    height: 80px;
    margin-top: 20px;
    margin-left: 1%;
    /* background: blue; */
}

.divCajaDerecha form input[type='text']{
    width: 70%;
    height: 50px;
    margin-top: 15px;
    margin-left: 5%;
    border-radius: 5px;
    border: 1px solid grey;
}

.divCajaDerecha form input[type='submit']{
    width: 20%;
    height: 50px;
    margin-left: 2.5%;
    border-radius: 5px;
    border: none;
    background: #282c34;
    color: white;
    cursor: pointer;
}

.divCajaDerecha form input[type='submit']:hover{
    background: #575757;
}
