.articleBuscador{
    width: 100%;
    height: 700px;
    /* background: green; */
    float: left;
}

.divBannerBuscador{
    width: 100%;
    height: 270px;
    float: left;
}

.divFotoBuscador{
    width: 10%;
    height: 130px;
    margin-top: 55px;
    margin-left: 25%;
    border: 2px solid grey;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.divFotoBuscador img{
    width: 100%;
    height: 130px;
}

.divTituloBuscador p{
    font-size: 70px;
    margin-top: 90px;
    margin-left: 3%;
    color: white;
    text-shadow: 3px 3px 3px grey;
    letter-spacing: 10px;
    float: left;
}

.divBotonesBuscador{
    width: 30%;
    height: 100px;
    margin-top: 40px;
    /* background: gold; */
    margin-left: 1%;
    float: left;
}

.divBotonesBuscador input{
    width: 35%;
    height: 50px;
    border-radius: 5px;
    margin-top: 70px;
    border: none;
    margin-left: 2%;
    background: #61dafb;
    color: white;
    text-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

.divBotonesBuscador input:hover{
    background: #575757;
}

.divContenedorBuscador{
    width: 100%;
    height: 530px;
    /* background: blue; */
    float: left;
}